body {
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

pre {
    font-family: monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
    transform: scale(1.2);
}
